.body {
    background-color: aquamarine;
}

.wrapper {
    background-color: rgb(159, 82, 82);
    width: 400px;
    margin: auto;
}

nav ul {
    padding-left: 0px
}

nav li {
    display: inline-block;
    padding: 0 10px;
    margin: auto;
    height: 100px;
}