/* this is a css comment */
body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

.header-image {
    margin: 0%;
    padding-left: 40px;
    border:0%
}

.form {
    display: list-item;
    border-color: black;
    border-width: 1px;
}

.wrapper {
    background-color: rgb(159, 82, 82);
    width: 1024px;
    margin: auto;
    margin-top: 0%;
}

.loasf img {
    float: left;
    padding-right: 20px;
    padding-bottom: 25px;
} 

.loasf p {
    padding: 15px;
}

h1 {
    padding-left: 10px;
}

nav ul {
    padding-left: 40px;
}

nav li {
    display:inline-flex;
    padding: 40px;
    margin-top: 0%;
    height: 100px;
}