/* this is a css comment */
body {
    background-color: cadetblue;
    color: white;
}

h1, h2, h3 {
    color: darkgreen;
}

footer p {
    font-weight: bold;
}

nav ul {
    font-size: 150%;
}

/* classes */
.web {
    font-style: italic;
}

/* id */
#featured {
    font-style: normal;
}


