/* this is a css comment */
.body {
    background-color: rgb(136, 194, 217);
    background-image: url("../images/output-A10051.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

p, h2, h3, blockquote {
    background-color: antiquewhite;
    display: inline;
    padding: 2px;
}

.navbar {
    padding: 10px;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: azure;
    transition: 1s;
}

.navbar button {
    background-color: rgb(185, 185, 202);
}

.navbar button:hover {
    background-color: rgb(102, 142, 102);
    transition: 450ms;
}