/* this is a css comment */
body {
    background-color: indianred;
    color: seashell;
    font-family: "Arial, Helvetica, sans-serif";font-size: 18px;
}

.site-title {
    background-color: darkorchid;
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}