/* this is a css comment */
body {
    background-color: indianred;
    color: seashell;
    font-family: "Arial, Helvetica, sans-serif";font-size: 18px;
}

.site-title {
    background-color: brown;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    display: block;
    padding: 5px;
    background-color: rgb(126, 0, 0);
    font-family:cursive
}

.navbar button {
    border: none;
    color: rgb(105, 84, 0);
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

.square-list {
    list-style-type: square;
}

.square-list li:nth-child(odd) {
    background-color: rgb(41, 65, 95);
}